# نادیده گرفتن پوشه node_modules
node_modules/

# نادیده گرفتن فایل‌های محیطی
.env

# نادیده گرفتن پوشه‌های لاگ و کش
logs/
cache/

# نادیده گرفتن فایل‌های خروجی بیلد
dist/
build/

# نادیده گرفتن فایل‌های IDE و سیستم‌عامل
.vscode/
.DS_Store
Thumbs.db